.venv/
venv/
.hmsenv/
.tmp/
.virtualenv-app-data/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

.env
.env.*
!.env.example

db.sqlite3
staticfiles/
media/
!media/.gitkeep

runserver.log
runserver.err.log

.idea/
.vscode/
